{{task_id}} = DockerOperator(
            task_id='{{task_id}}',
            image='{{image}}',
            api_version='auto',
            auto_remove=True,
            command="python worker.py",
            docker_url="unix://var/run/docker.sock",
            mounts=[
                Mount(
                    source="{{local_storage_path_external}}",
                    target="/data",
                    type="bind",
                ),
            ],
            environment={
                "NAME": "{{name}}",
                "UUID": "{{uuid}}",
                "DEPENDENCY_UUID": "{{dependency}}",
                "PROJECT_UUID": "{{project}}",
                "PIPELINE_UUID": "{{pipeline}}",
                "ALGORITHM": "{{algorithm}}",
                "PARAMETERS": """{{parameters}}""",
                "STORAGE_DRIVER": "{{storage_driver}}",
                "CONTAINER_NAME": "{{container_name}}",
                "AWS_ACCESS_KEY_ID": "{{aws_access_key_id}}",
                "AWS_SECRET_ACCESS_KEY": "{{aws_secret_access_key}}",
                "AWS_REGION": "{{aws_region}}",
                "LOCAL_STORAGE_PATH": "/data",
            },
        )

