    {{task_id}} = DockerOperator(
            task_id='{{task_id}}',
            image='{{image}}',
            api_version='auto',
            auto_remove='force',
            command = "sh -c 'python -c \"import main; from scystream.sdk.scheduler import Scheduler; \
            Scheduler.execute_function(\\\"{{ entry_name }}\\\")\"'",
            docker_url="unix://var/run/docker.sock",
            environment={{ environment }},
            network_mode="{{ network_mode }}",
            force_pull=False,
            mount_tmp_dir=True,
        )

