from airflow import DAG
from airflow.providers.docker.operators.docker import DockerOperator
from docker.types import Mount
from datetime import datetime

default_args = {
    'owner': 'airflow',
    'start_date': datetime(2025, 1, 1),
}

with DAG('{{dag_id}}', default_args=default_args, schedule=None, catchup=False, is_paused_upon_creation=True) as dag: