uvicorn==0.34.0
fastapi==0.115.6
pydantic==2.10.5
pydantic-settings==2.7.1
pydantic_core==2.27.2
SQLAlchemy==2.0.37
psycopg2-binary==2.9.10
alembic==1.14.0
bcrypt==4.2.1
pyjwt==2.10.1
requests==2.32.3

