uvicorn==0.32.1
fastapi==0.115.5
pydantic==2.10.2
pydantic-settings==2.6.1
pydantic_core==2.27.1
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
alembic==1.14.0
bcrypt==4.2.1
pyjwt==2.10.1
requests==2.32.3

